set nu
" set t_Co=256

" plug list
call plug#begin()
Plug 'lifepillar/vim-solarized8'
Plug 'itchyny/lightline.vim'
Plug 'junegunn/fzf'
call plug#end()


" config for vim-solarized8
set termguicolors
set background=dark
colorscheme solarized8_flat
let &t_8f = "\<Esc>[38;2;%lu;%lu;%lum"
let &t_8b = "\<Esc>[48;2;%lu;%lu;%lum"
let g:solarized_termtrans = 1
let g:solarized_extra_hi_groups = 1

" config for lightline.vim
set laststatus=2
let g:lightline = {
      \ 'colorscheme': 'solarized',
      \ }
